<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Matt Gautreau, Software Developer</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/site.css">
  <link rel="stylesheet" href="/static/css/pygment_trac.css">
  <link rel="icon" type="image/ico" href="/static/img/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {{ page.head_elements }}
</head>

{% assign active = page.url | downcase | split: '/' %}

<body{% if page.body_class %} class="{{ page.body_class }}" {% endif %}>
    <div class="wrapper">
      <header>
        <a href="/"><img class="print-hidden gravatar" src="http://www.gravatar.com/avatar/723e7476a6697a0b64201176f23041c9?s=460"/></a>
        <h1><a href="/">Matt Gautreau</a></h1>
        <p class="print-hidden">Software Developer</p>
        <ul class="clearfix">
          <li><a href="/" {% if page.url == '/index.html'  %}class='active'{% endif %}>Home</a></li>
          <li><a href="/blog" {% if active[1] == 'blog' %}class='active'{% endif %}>Blog</a></li>
          <li><a href="/resume" {% if active[1] == 'resume' %}class='active'{% endif %}>Resume</a></li>
        </ul>
        <ul class="icons">
          <li><a href="https://github.com/mgaut72"><img class="print-hidden icon" src="/static/img/github.png"/></a>
          <li><a href="http://www.linkedin.com/pub/matt-gautreau/9b/aa2/902"><img class="print-hidden icon" src="/static/img/linkedin.png"/></a>
          <li><a href="https://twitter.com/mgaut72"><img class="print-hidden icon" src="/static/img/twitter.png"/></a>
          <li><a href="mailto:mgaut72@gmail.com"><img class="print-hidden icon" src="/static/img/gmail.png"/></a>
        </ul>
      </header>
      <section id="content">
        {{ content }}
      </section>
      <footer>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p><small>To use my code, read my <a href="/license">license</a>.</small></p>
      </footer>
    </div>
    <script src="/static/js/scale.fix.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47360741-2', 'mgaut72.github.io');
    ga('send', 'pageview');

    </script>
</body>
</html>
